<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://payrotech.runasp.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6ed32737-bde9-7c34-528a-0d661caf315c</ProjectGuid>
    <publishUrl>ftp://site65914.siteasp.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>/wwwroot</FtpSitePath>
    <UserName>site65914</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>FTP</_TargetId>
    <EnableMSDeployAppOffline>false</EnableMSDeployAppOffline>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
  
  <!-- Exclude app_offline.htm from publish — manage manually -->
  <ItemGroup>
    <Content Remove="app_offline.htm" />
  </ItemGroup>
</Project>